.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  padding: 3rem;
  min-height: 100vh;
}

.title{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: 'Poppins', sans-serif;
}

.auth{
  /* display: flex; */
  flex-direction: column;

  
}